<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
<h1>admin</h1>
<table>
    <thead>
        <tr>
            <th>title</th>
            <th>delete</th>
            <th>update</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="work:${works}">
            <td th:text="${work.title}"></td>
            <td><a th:href="|@{/admin/delete}?id=${work.id}|">delete</a></td>
            <td><a th:href="|@{/admin/update}?id=${work.id}|">update</a></td>
        </tr>
    </tbody>
</table>
<a th:href="@{/admin/insert}">insert</a>
<form th:action="@{/logout(${_csrf.parameterName}=${_csrf.token})}" method="post">
    <button>logout</button>
</form>
</body>
</html>